.blogs h1 {
  background-color: black;
  color: transparent;
  text-shadow: 2px 2px 3px rgb(67 87 99 / 65%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  font-size: 5vw !important;
  padding-bottom: 0px !important;
  position: relative;
}

.blogs h1::after {
  content: "";
  position: absolute;
  height: 1px;
  background: red;
  top: 100%;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
}

.wrapper {
  display: grid; /* 1 */
  grid-template-columns: repeat(3, 28vw); /* 2 */
  grid-auto-rows: 70vh; /* 3 */
  grid-gap: 10px; /* 4 */
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}

.blogCard {
  position: relative;
  width: 25vw;
  height: 55vh;
  border: black 1px solid;
  margin: 15px 5px;
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
  color: black;
  box-shadow: 0px 0px 4px 2px #2d2c2c;
  padding-bottom: 50px;
}

.thumbnail {
  position: absolute;
  height: 40%;
  width: 100%;
  background-position: center;
}

.avatar {
  position: relative;
  border-radius: 50%;
  width: 20%;
  margin-top: 45%;
  border: white 2px solid;
  margin-left: 30px;
  margin-bottom: 10px;
}

.snippet {
  position: relative;
  width: 90%;
  margin: 0 auto;
  margin-left: 15px;
}

.title {
  position: relative;
  font-weight: 600;
  font-size: 20px;
  margin-left: 5px;
  padding: 10px;
  margin-top: -10px;
  /* border-left: black 3px solid; */
}

.author {
  position: absolute;
  bottom: 60px;
  margin-left: 15px;
}

.date {
  position: absolute;
  bottom: 20px;
  margin-left: 15px;
}

a {
  text-decoration: none;
}

.fa-user {
  padding-right: 10px;
}

.fa-calendar-alt {
  padding-right: 10px;
}

.fa-medium-m {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 30px;
}

.time {
  position: absolute;
  bottom: 20px;
  right: 25%;
}

@media (max-width: 375px) {
  .wrapper {
    display: block;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    right: 0px;
  }

  .blogCard {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 15px;
  }
}
