.contact {
    background: #BBD2C5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #3c3e48, #536976, #3c3e48);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #3c3e48, #536976, #3c3e48); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* width: 100%; */
    height: 100%;
    /* position: fixed; */
  }

  #contact {
    background: #BBD2C5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #3c3e48, #536976, #3c3e48);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #3c3e48, #536976, #3c3e48); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }

  .contact h1 {
    background-color: black;
    color: transparent;
    text-shadow: 2px 2px 3px rgb(67 87 99 / 65%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    font-size: 100px !important;
  }