

.resume h1 {  
  background-color: black;
  color: transparent;
  text-shadow: 2px 2px 3px rgb(67 87 99 / 65%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  font-size: 5vw !important;
  margin-bottom: 0px;
  padding-bottom: 0px !important;
  position: relative;
}

.resume h1::after {
  content: "";
  position: absolute;
  height: 1px;
  background: red;
  top: 100%;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
}

.resume-right-col {
  color: white;
  padding: 2em;
}

.resume img {
  border-radius: 50%;
}

.resume-container embed {
  text-align: center;
  /* width: 800px !important; */
  /* height: 1090px !important; */
}

.resume-container{
  text-align: center;
}

@media (max-width: 800px){
  .resume-container {
    background:white;
  }
  .resume-container object{
    width: 100% !important;
    height: 100% !important;
  }

  .resume h1 {
    font-size: 10vw !important;
  }
  
}