

  .skills h1 {
    background-color: black;
    color: transparent;
    text-shadow: 2px 2px 3px rgb(67 87 99 / 65%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    font-size: 5vw !important;
    padding-bottom: 0px !important;
    position: relative;
  }

  .skills h1::after {
    content: "";
    position: absolute;
    height: 1px;
    background: red;
    top: 100%;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
}

 .skills table {
  margin-left: auto;
  margin-right: auto;
}

.skills td {
  font-size: 2vw;
  padding: 20px;
  text-align: center;
  color:white;
}

@media(max-width: 475px){
  .skills td {
    font-size: 5vw;
  }

  .skills h1 {
    font-size: 10vw !important;
  }
}